html{
    overflow-x: hidden;
}
body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, rgba(0,123,255,0.8),rgba(108,117,125,0.8));
}
.navbar{
    background-color: #005689;
    padding: 10px;
    width: 100%;
    
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 0px 25px;
    justify-content: center;
}
.navbar li{
    margin: 0px 25px;
    border: 2px solid rgb(44, 0, 124);
    padding: 5px 25px;
}
.navbar li:hover{
    background-color: rgba(255, 255, 255, 0.238);
    box-shadow: 0px 10px 25px blue;
    position: relative;
    transform: translateY(-5px);
    transition: 0.5s;
}
.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    
}
h1{
    text-align: center;
    text-decoration: underline;
}
.wrapper{
    display: flex;
    gap: 20px;
}
.trener{
    background:#fff;
    border: 1px solid blue;
    border-radius: 8px;
    overflow: hidden;
    width: 30%;
    box-shadow: 0 10px 4px rgba(0, 0, 0,0.1);
    text-align: center;
    margin-left: 30px;
    opacity: 0.7;
    transition: 0.5s;
}
.slika img{
    width: 100%;
    aspect-ratio: 1 / 0.8;
    object-fit: cover;
}
.text{
    padding: 10px;
    font-size: 20px;
}

.trener:hover{
    transform: scale(1.05);
    opacity: 1;
    border: 3px solid blue;
}
@media screen and (max-width: 700px) {
    .navbar{
        width: 100%;
        margin:0;
        padding: 0;
    }
    .navbar ul{
        
        display: block;
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .navbar li{
        
        margin: 0;
    }
}

